<div id="content">
    <header class="clearfix">
      <h2 class="page_title pull-left">Comments</h2>     
    </header>

    <div class="content-inner">
      <%= render 'search', route: portal_comments_path %>
      <% @comments.each do |comment| %>
        <div class="row comments-row">
            <div class="col-sm-2 col-md-1">
                <img class="img-circle hidden-xs" src="https://api.fnkr.net/testimg/70x70/00CED1/FFF/?text=70x70">
            </div>
            <div class="col-sm-10 col-md-11">
                <div class="row">
                    <div class="col-xs-9 col-sm-10 col-md-9">
                        <b><%= comment.visitor.fullname %></b> posted message on <b><%= comment.post.title %></b><br>
                        <small></small>
                    </div>

                    <div class="col-xs-3 col-sm-2 col-md-3">
                        <div class="clearfix">
                            <div class="pull-right comment-age"><%= time_ago comment.created_at %></div>
                        </div>
                    </div>
                </div>
                <div class="well well-sm comments-well">
                        <%= comment.message %>
                </div>
                <div class="clearfix">
                    <div class="pull-right">    
                        
                        <%= link_to (portal_comment_path(comment)), method: :delete, data: {confirm: 'Bạn chắn chắn muốn xóa comment này'}, class: 'btn btn-xs btn-default' do %>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete         
                        <% end %>

                        <!-- <p>
                            <%= link_to 'Xóa', portal_comment_path(comment), method: :delete, data: {confirm: 'Bạn chắn chắn muốn xóa comment này'} %>
                            <%= 
                                if params[:status] == 'true'
                                    link_to 'Chưa duyệt', portal_comment_path(comment, status: false), method: :put
                                else 
                                    link_to 'Duyệt', portal_comment_path(comment, status: true), method: :put
                                end
                            %>
                        </p>     -->


                    </div>
                </div>
            </div>
        </div>
      <% end %>
     

    </div>
  </div>