<h1>Portal::Comments#index</h1>
<p>
	<%= form_for(portal_comments_path, method: :get) do %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Search'%>
	<% end %>
</p>
<p>
    <%= link_to 'Đã duyệt', portal_comments_path(status: true)  %>
    <%= link_to 'Chưa duyệt', portal_comments_path(status: false)  %>
</p>
<% @comments.each do |comment| %>
    <p><b><%= comment.visitor.fullname %></b> đã gửi ở bài <b><%= comment.post.title %></b></p>
    <p><%= comment.message %></p>
    <p>
        <%= link_to 'Xóa', portal_comment_path(comment), method: :delete, data: {confirm: 'Bạn chắn chắn muốn xóa comment này'} %>
        <%= 
            if params[:status] == 'true'
                link_to 'Chưa duyệt', portal_comment_path(comment, status: false), method: :put
            else 
                link_to 'Duyệt', portal_comment_path(comment, status: true), method: :put
            end
         %>
    </p>

    <hr>
<% end %>
<p><%= will_paginate @comments %> </p>