<h1>Portal::Messages#index</h1>
<% @messages.each do |message| %>
<% message.status == false ? weight = 'font-weight:bold' : weight = 'font-weight:normal' %>
    <p style=<%= "#{weight}" %>>
        Người gửi: <%= message.visitor.fullname %><br>
        Nội dung: <%= truncate(message.content, length: 60, separator: '') %><br>
        Trạng thái: <%= status_converter(message.status, truthy: 'Đã đọc', falsey: 'Chưa đọc') %><br>
        Thời gian: <%= time_ago(message.created_at) %><br>
        
        
        
    </p>
    <p>
        <%= link_to 'Delete',portal_message_path(message), method: :delete, data: {confirm: 'Bạn chắc muốn xóa message này?'} %>
        <%= 
            if message.status == true
              link_to 'Chưa đọc', portal_message_path(message, status: false), method: :put
            
            else
                link_to 'Đọc', portal_message_path(message, status: true), method: :put
            end
         %>
    </p>
    
    <hr/>
<% end %>
<p><%= will_paginate @messages %> </p>