<h1>Portal::Messages#index</h1>
<% @messages.each do |message| %>
<%# <% message.status == false ? weight = 'font-weight:bold' : weight = 'font-weight:normal' %> 
    <p style=<%= message_weight(message) %>
        Người gửi: <%= message.visitor.fullname %><br>
        Nội dung: <%= truncate(message.content, length: 60, separator: '') %><br>
        Trạng thái: <%= status_converter(message.status, truthy: 'Đã đọc', falsey: 'Chưa đọc') %><br>
        Thời gian: <%= time_ago(message.created_at) %><br>
        
        
        
    </p>
    <p>
        <%= link_to 'Xem', portal_message_path(message) %>
        <%= build_read_status_link message %>
         <%= link_to 'Delete',portal_message_path(message), method: :delete, data: {confirm: 'Bạn chắc muốn xóa message này?'} %>
    </p>
    
    <hr/>
<% end %>
<p><%= will_paginate @messages %> </p>