<!DOCTYPE html>
<html>
  <head>
    <title>BuildingAdminSystem</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:notice]%>
      <div class="notice"><%= flash[:notice]%></div>
    <% end %>
    <% if flash[:alert]%>
      <div class="alert"><%= flash[:alert]%></div>
    <% end %>    
    <%= link_to 'Đăng xuất', logout_path %>  
   
    <p>
      <%= link_to 'Quản lý bài viết', portal_posts_path%>  
      <%= link_to 'Quản lý tài khoản', portal_moderators_path %>  
      <%= link_to 'Quản lý tags', new_portal_tag_path %>  
      <%= link_to 'Quản lý comments', portal_comments_path %>  
      <%= link_to 'Quản lý visitors', portal_visitors_path %>  
      <%= link_to 'Quản lý messages', portal_messages_path %>  
      <%= link_to 'Quản lý notifications', portal_notifications_path %>  
    </p>
  
    <%= yield %>
  </body>
</html>
